body{
	background-color: #dbaca0;
	background-repeat: no-repeat;
	background-size: 100%;
	margin: 20px;
}
img{
	image-rendering: pixelated;
	width: 88px;
}
div{
	display: grid;
	grid-gap: 5px
}
button{
	padding: 20px;
}