body{
	background-color: #dbaca0;
	background-image: url("./images/phone-wallpaper.jpg");
	zoom: 200%;
}
img{
	image-rendering: pixelated;
	margin: 10px;
	width: 220px;
}
div{
	display: grid;
	grid-gap: 5px
}
button{
	padding: 20px;
}